@import '../../assets/variables';

.button {
  background-color: map-get($palette, primary);
  width: 100%;
  min-width: 190px;
  max-width: 157px;
  margin-top: 8px;
  padding: 14px 16px;
  font-weight: 300;
  color: map-get($palette, pure);
  outline: none;
}

.button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .button {
    min-width: unset;
    max-width: unset;
  }
}