$palette: (
  primary: #4B5548,
  secondary: #2B2E2B,
  border: #CDD1CE,
  background: #F5F5F4,
  body: #FCFBF9,
  shadow: #808080,
  menu-bg: #F2F2EF,
  menu-off: #2B2E2B,
  icon-border: #C6CCC7,
  img-wrapper: #1E2D2B,
  product-bg: #E2E6E3,
  dark: #1F1E1E,
  pure: #FFF,
  card-border: #BCBCBC,
  checkout: #D0D0D0,
);
